@charset "UTF-8";
@charset "UTF-8";
/* ログインページはここから */
/* Google Fonts をインポート */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Lora');

/* フォントファミリー */
body, h1, .title, p, input, label, button {
  font-family: 'Open Sans', sans-serif;
}

.title {
  font-family: 'Lora', serif;
}
/* divボックススタイル */
.container1 {
  margin: auto;
  width: 650px;
  height: 550px;
  position: relative;
}

.welcome {
  background-color: #00438d;
  width: 650px;
  height: 415px;
  position: absolute;
  top: 25%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
}

.bluebox {
  position: absolute;
  top: -10%;
  left: 5%;
  background-color: #fffafa;
  width: 320px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, .1);
  transition: all .5s ease-in-out;
  z-index: 2;
  border: 3px solid #b8860b;
}

.nodisplay {
  display: none;
  transition: all .5s ease;
}

.leftbox, .rightbox {
  position: absolute;
  width: 50%;
  transition: 1s all ease;
}

.leftbox {
  left: -2%;
}

.rightbox {
  right: -2%;
}

/* フォント＆ボタンのスタイリング */

h1 {
  color:#fffafa ;
  font-size: 1.5em;
  line-height: 1.1em;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 300;
  margin-top: 20%;
}
h2 {
    color:black;
    font-size: 1.5em;
    line-height: 1.1em;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 300;
    margin-top: 20%;
  }


.desc {
  margin-top: -8px;
}

.account {
  margin-top: 60%;
  font-size: 10px;
}

p {
  font-size: 1em;
  letter-spacing: 2px;
  color:#fffafa;
  text-align: center;
}

span {
  color: rgb(0, 0, 0);
}

.img1 {
  position: absolute;
  width: 100px;
  height: 120px;
  top: 40%;
  left: 35%;
  margin-bottom: 30px;
}

.img2 {
  width: 100px;
  height: 120px;
  top: 40%;
  left: 35%;
}
button {
  padding: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  border-radius: 30px;
  margin: auto;
  outline: none;
  display: block;
  cursor: pointer; /* マウスがボタン上にあるときにポインターを表示 */
  margin-top: 3%;
}

.button {
  margin-top: 3%;
  background-color: #b8860b;
  color: #fffafa;
  border: solid 1px #b8860b;
}

/* フォームのスタイリング */
form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 7px;
}

.more-padding {
  padding-top: 35px;
}

.more-padding input {
  padding: 12px;
}

.more-padding .submit {
  margin-top: 45px;
}
.submit {
  margin-top: 25px;
  padding: 12px;
  border-color: black;
}
input {
  background-color: #fffafa;
  width: 65%;
  color: rgb(0, 0, 0);
  border: none;
  padding: 9px;
  margin: 7px;
}

input:placeholder {
  color: rgb(34, 34, 34);
  letter-spacing: 2px;
  font-size: 1.2em;
  font-weight: 100;
}

input:focus {
  color: black;
  outline: none;
  border-bottom: 1.2px solid white;
  font-size: 1em;
  transition: .8s all ease;
}

input:focus::placeholder {
  opacity: 0;
}

label {
  color: black;
  font-size: 0.9em;
  letter-spacing: 1px;

}

.checkbox {
  display: inline;
  white-space: nowrap;
  position: relative;
  left: -62px;
  top: 5px;
}

input[type=checkbox] {
  width: 15px;
}

.checkbox input[type="checkbox"]:checked + label {
  color: black;
}

.error-message {
  display: none;
  left: 60px;
  color: red;
  font-size: 12px;
}
  input[type="submit"] {
    padding: 10px 20px;
    margin-top: 30px;
    border: none;
    border-radius: 30px;
    background-color:#b8860b;
    color: white;
    cursor: pointer;
    width: 40%;
    text-align: center;
  }





