@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: white;
}

.boxA {
	margin: 0 auto;
	background-color: #00438d;
	width: 960px;
	height: 620px;
}

.img1 {
	position: absolute;
}

/*.name {
	position: absolute;
	top: 30%;
	color: #fff;
	width: 50px;
	padding: 1em 0;
	font-size: 2em;
	text-align: center;
}*/
.index {
	line-height: 305px;
	text-align: center;
	background-image: url(/B3/img/mypagename.png);
}

.items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}

.arrange img {
	object-fit: cover;
	height: 300px;
	width: 300px;
}
/* モーダルウィンドウ概要 */
/* モーダルウィンドウのスタイル */
.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	overflow: auto;
}

.modal-content {
	position: relative;
    margin: auto;
    width: 100%;
    max-width: 750px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.modal-content img {
	width: 100%;
	height: 20%; /* 画像を親要素の高さに合わせる */
	object-fit: cover; /* 画像を比率を保ちつつ親要素に合わせる */
	border-radius: 8px;
	margin-bottom: 10px;
}

.close {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 30px;
	color: black;
	cursor: pointer;
}

.close:hover {
	color: black;
}

/* 保存ボタン */
input[type="submit"] {
	padding: 10px 20px;
	margin-top: 40px;
	border: none;
	border-radius: 30px;
	background-color: #b8860b;
	color: white;
	cursor: pointer;
	width: 10%;
	text-align: center;
	position: fixed;
	bottom: 20px;
	z-index: 1000;
	left: 45%;
}
/* モーダルウィンドウ内部 */
.box2 {
	width: 100%;
	height: 1000px;
	/* 背景画像を表示 */
	background-image: url(img/Owaku_2.png);
}

.box3 {
    margin: 0 auto;
    background-color: #00438d;
    width: 300px;
    height: 50px;
    position: absolute;
    top: 30px;
    left: 32%;
}

.box3 p {
	margin: 0;
	padding: 0;
	color: #ffffff;
	font-size: 30px;
	text-align: center;
}

/* チェックボックス */
input[type="checkbox"] {
	position: absolute;
	width: 40px;
	height: 40px;
	border: 1px solid #000;
	vertical-align: -5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	left: 10%;
	top: 90px;
	left: 5%;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

input[type="checkbox"]:checked:before {
	position: absolute;
	top: 90px;
	left: 5%;
	border: 1px solid #000;
	vertical-align: -5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

form {
	position: absolute;
    top: 16%;
    left: 28%;

}

.container {
	position: absolute;
	left: 45%;
}

.box4 {

	height: 150px;
    position: absolute;
    top: 30px;
    left: 4%;
    top: 16%;
}



/* モーダルウィンドウ終了 */