@charset "UTF-8";
/*登録画面と編集画面*/
body {
	background-color: #fffafa;
}

h1 {
	text-align: center;
	margin: 0 auto 0 auto;
	width: 300px;
	height: 50px;

	color: white;
	background-color: #00438d;

}

/*お客様情報登録*/
.customer_regist {
	margin: 0 auto 0 auto;
	margin-top: 10px;
	font-size: 30px;
	color: #00438d;
}
 td {
	padding: 3px 50px;
 }
/*テキストボックス*/
input,select,textarea {
	border: 3px solid #b8860b;
	border-radius: 6px;
}

.text_name {
	width: 7em;
	font-size: 25px;
}

.text_tell {
	width: 15em;
	font-size: 25px;
}

.text_add {
	width: 70%;
	font-size: 25px;
}

/*式の希望日*/
.select {
	width: 18%;
	font-size: 25px;
}
.td_center {
	text-align: center;
}

/*備考欄*/
.text_memo {
	vertical-align: text-top;
	width: 70%;
	font-size: 25px;
}
textarea {
	width: 70%;
	resize: none;
	min-height: 75px;
}

/*ボタン類*/
.button {
	text-align: center;
}

input[type="submit"] {
    padding: 10px 20px;
    margin-top: 30px;
    border: none;
    border-radius: 30px;
    background-color:#b8860b;
    color: white;
    font-size: 25px;
    cursor: pointer;
    width: 10%;
    text-align: center;

  }