@charset "UTF-8";
/*検索画面と検索結果画面*/
/*共通*/
body {
	background-color: #fffafa;
}

h1 {
	text-align: center;
	margin: 0 auto 0 auto;
	width: 300px;
	height: 50px;

	color: white;
	background-color: #00438d;
}

/*夫婦カード（全体）*/
.cards {
	margin: 0 auto 0 auto;
	border-spacing: 30px 20px;
}

/*夫婦カード（単体）*/
.card {
	text-align: center;
	width: 150px;
	height: 130px;
	border: solid 5px #b8860b;
	font-size: 25px;
	color: #00438d;
	position: relative;
}
.card_name {
	text-align: center;
	color: #00438d;
	border: none;
	outline: none;
	width: 100px;
	font-size: 25px;
}
.pin {
	width: 60px;
	height: 60px;
	position: absolute;
	left: 230px;
	bottom: 110px;
}

/*夫婦カードのリンク*/
.card a:link {
	color: #00438d;
	text-decoration: none;
}
.card a:visited {
	color: #00438d;
	text-decoration: none;
}
.card a:hover {
	color: #b8860b;
	text-decoration: none;
}

/*お客様データのリンク*/
.customer_info a:link {
	color: #00438d;
	text-decoration: none;
}
.customer_info a:visited {
	color: #00438d;
	text-decoration: none;
}
.customer_info a:hover {
	color: #b8860b;
	text-decoration: none;
}

/*検索画面専用*/
/*検索項目*/
.customer_search {
	margin: 0 auto 0 auto;
	width: 70%;
	margin-top: 10px;
	font-size: 30px;
	color: #00438d;
}

/*テーブルデータを真ん中に*/
 td {
	padding: 3px 50px;
 }

/*テキストボックス*/
input,select,textarea {
	border: 3px solid #b8860b;
	border-radius: 6px;
}

/*氏名*/
.text_name {
	width: 50%;
	font-size: 25px;
}

/*式の希望日*/
.select {
	width: 10%;
	font-size: 25px;
}
.td_center {
	text-align: center;
}

/*キーワード*/
.text_memo {
	vertical-align: text-top;
	width: 50%;
	font-size: 25px;
}
textarea {
	width: 70%;
	resize: none;
}

/*ボタン類*/
.button {
	text-align: center;
}
input[type="submit"] {
	padding: 10px 20px;
	margin-top: 30px;
	border: none;
	border-radius: 30px;
	background-color:#b8860b;
	color: white;
	font-size: 25px;
	cursor: pointer;
	width: 10%;
	text-align: center;
}


/*検索結果画面専用*/
/*お客様データの枠*/
.customer_info {
	width: 400px;
	height: 200px;
	border: 3px solid #b8860b;
	border-radius: 6px;
	text-align: center;
	font-size: 25px;
	color: #00438d;
}

/*式希望日*/
.thedate_info {
	text-align: center;
	margin-top: 10px;
	margin-bottom:10px;
	outline: none;
	border: none;
	width: 280px;
	font-size: 25px;
	color: #00438d;
}

/*氏名*/
.lname_info {
	text-align: right;
	border: none;
	outline: none;
	width: 100px;
	margin: 20px 10px;
	font-size: 25px;
	color: #00438d;
}
.fname_info {
	text-align: left;
	border: none;
	outline: none;
	width: 100px;
	margin: 20px 10px;
	font-size: 25px;
	color: #00438d;
}



