@charset "UTF-8";
/*検索画面と検索結果画面*/
body {
	background-color: #fffafa;
}

h1 {
	text-align: center;
	margin: 0 auto 0 auto;
	width: 300px;
	height: 50px;

	color: white;
	background-color: #00438d;
}

/*夫婦カード（全体）*/
.cards {
	margin: 0 auto 0 auto;
	border-spacing: 30px 10px;
}
/*夫婦カード（単体）*/
.card {
	text-align: center;
	width: 150px;
	height: 130px;
	border: solid 5px #b8860b;
	font-size: 25px;
	color: #00438d;
	position: relative;
}
.card_name {
	border: none;
	outline: none;
	width: 100px;
	font-size: 25px;
}

.pin {
	width: 300px;
	position: absolute;
	right: 0px;
	bottom: 20px;
}

/*検索項目*/
.customer_search {
	margin: 0 auto 0 auto;
	width: 70%;
	margin-top: 10px;
	font-size: 30px;
	color: #00438d;
}

/*テーブルデータを真ん中に*/
 td {
	padding: 3px 50px;
 }

/*テキストボックス*/
input,select,textarea {
	border: 3px solid #b8860b;
	border-radius: 6px;
}

.text_name {
	width: 50%;
	font-size: 25px;
}
/*式の希望日*/
.select {
	width: 10%;
	font-size: 25px;
}
.td_center {
	text-align: center;
}

/*キーワード*/
.text_memo {
	vertical-align: text-top;
	width: 50%;
	font-size: 25px;
}
textarea {
	width: 70%;
	resize: none;

}

/*ボタン類*/
.button {
	text-align: center;
}

input[type="submit"] {
    padding: 10px 20px;
    margin-top: 30px;
    border: none;
    border-radius: 30px;
    background-color:#b8860b;
    color: white;
    font-size: 25px;
    cursor: pointer;
    width: 10%;
    text-align: center;

  }
