@charset "UTF-8";
/*当日リスト画面*/
/*共通*/
body {
	background-color: #fffafa;
}
h1 {
	text-align: center;
	margin: 0 auto 0 auto;
	width: 300px;
	height: 50px;

	color: white;
	background-color: #00438d;
}

/*ボタン類*/
.button {
	margin: 20px 50px;
	text-align: center;
}
input[type="submit"] {
    padding: 10px 20px;
    margin: 10px 50px 0 50px;
    border: none;
    border-radius: 30px;
    background-color:#b8860b;
    color: white;
    font-size: 25px;
    cursor: pointer;
    width: 15%;
    text-align: center;
  }
.t_button {
	padding: 10px 20px;
    margin: 10px 50px 0 50px;
    border: none;
    border-radius: 30px;
    background-color:#b8860b;
    color: white;
    font-size: 25px;
    cursor: pointer;
    width: 15%;
    text-align: center;
}


/*画面分割*/
#wrapper {
	width: 100%;
	overflow: hidden;
}
#area_ticket {
	    background-color:#80ffff;

	width: 50%;
	float: left;
}
#area_memo {
	width: 50%;
	float: right;
}

/*左側*/
/*現在時刻*/
.now_time {
	text-align: center;

}
/*チケット*/
.t_list {
	margin: 0 auto 0 auto;
	display: flex;
	justify-content: center;	/*displayとセットで中の要素を横中央に*/
	align-items: center;	/*displayとセットで中の要素を縦中央に*/
	flex-flow: column;	/*displayとセットで要素を縦に並べる*/
}
.t_full {
	width: 500px;
	height:150px;

	text-align: center;
	position: relative;

}

.t_main {
	width: 500px;
	height: 140px;
	text-align: center;

}

.t_sub {
	height: 140px;
	text-align: center;
}

.text_s {
	width: 65%;
	height: 30px;
	resize: none;
	position: absolute;
	top: 30px;
	left: 10%;
	font-size: 30px;
	background-color: #fffafa;
}
.text_st {
	width: 20%;
	height: 20px;
	resize: none;
	position: absolute;
	bottom: 15px;
	left: 17%;
	font-size: 20px;
	background-color: #fffafa;
}
.text_at {
	width: 20%;
	height: 20px;
	resize: none;
	position: absolute;
	bottom: 15px;
	left: 50%;
	font-size: 20px;
	background-color: #fffafa;
}

/*右側*/
/*メモ*/
.m_today {
	text-align: center;
	margin-top: 30px;
}

.memo {
	width: 80%;
	resize: vertical;
	min-height: 300px;
	font-size: 30px;
}

